<a href="https://colab.research.google.com/github/SaabiriinAbdi/database_sql/blob/main/Database_and_SQL_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Database and SQL Final Project

##Name: Saabiriin Abdi
##Partner Name (Optional):

**Make sure to "save" a copy of this file to your own account.**

In this final project, you'll have the chance to design and implement a database using PostgreSQL. You'll be doing the following:


1.	Formulate business rules
2.	Construct an ERD from a set of business rules
3.	Specify the relational schema
4.	Discuss whether this schema meets the 1N, 2N, and 3N normal forms
5.	Create the tables using SQL queries
6.	Run sample SQL queries that demonstrate your ability to
  
  a.	Create table with primary keys and multiple data types

  b.	Join tables with foreign keys

  c.	Insert sample data into tables

  d.	Update existing data in the table

  e.	Delete data from the table
7.	Run sample SQL queries that demonstrate your ability to do the following:

  a.	Simple single table queries

  b.	Single-table queries with WHERE and LIKE

  c.	Single-table queries with aggregate functions

  d.	Single table queries with GROUP BY

  e.	Single-table queries with HAVING

  f.	Subqueries

  g.	Simple multi-table queries with JOIN

  h.	More complex multi-table queries

  i.	The creation of table views
  
  j.	The creation of indexes
8.	Discuss your process of database design and implementation using the Software Development LifeCycle Model 
9.	Do something unique! You could do ONE of the following, or something else:

  a.	Build some indexes and analyze query performance

  b.	Figure out how to add a JSON column, and insert data

  c.	Write a PL/SQL functions or trigger and show how to use it

  d.	Expand the data model to include subtypes and supertypes

  e.	Let your creativity shine!
10.	Save this project as a portfolio-quality work to Github, which you can then share with me (and with future employers, if you would like).

## Grading
The overall project is worth 100 points, with each of the 10 areas above worth 10 points each. 


## Other Guidelines

Here are the guidelines for working on the project:

1. You CAN work with a "team" of up to 3. You should each submit a copy of the work to the D2L dropbox (make sure to include your partner's names!), and each of you should create your own Github account.
2. I encourage you to discuss the project with me (as well as with your peers and tutors). However, my expectation is that the final work done by each team represents their "own" work.

#Load Postgres (Run This Cell)

In [1]:
# Some UNIX utilites we need to install for the lab.
!pip install wget --quiet
!pip install sqlalchemy --quiet
!pip install ipython-sql --quiet

# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!pip install pgspecial --quiet

!sudo service postgresql start


# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a postgres database with name `my_data` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS my_data;'

!sudo -u postgres psql -U postgres -c 'CREATE DATABASE my_data;'

# Postgres variables
%env DB_NAME=my_data
%env DB_HOST=localhost
%env DB_PORT=5432
%env DB_USER=postgres
%env DB_PASS=postgres

# Finally, let's make a connnection with the databse
%load_ext sql
%sql postgresql://$DB_USER:$DB_PASS@$DB_HOST/$DB_NAME

  Building wheel for wget (setup.py) ... done
     |████████████████████████████████| 1.6 MB 4.6 MB/s
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 10.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package cron.
(Reading database ... 124013 files and directories currently installed.)
Preparing to unpack .../0-cron_3.0pl1-128.1ubuntu1.2_amd64.deb ...
Unpacking cron (3.0pl1-128.1ubuntu1.2) ...
Selecting previously unselected package logrotate.
Preparing to unpack .../1-logrotate_3.11.0-0.1ubuntu1_amd64.deb ...
Unpacking logrotate (3.11.0-0.1ubuntu1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../2-netbase_5.4_all.deb ...
Unpacking netbase (5.4) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../3-postgresql-client-common_190ubuntu0.1_all.deb ...
Unpacking postgresql-client-common (190ubuntu0.1) ...
Selecting previously unselected package postgresql-client-10.
Preparing to unpack .../4-postgresql-client-10_10.22-0ubuntu0.18.04.1_amd64.deb ...
Unpacking postgresql-client-10 (10.22-0ubuntu0.18.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../5-ssl-cert_1.0.39_all.deb ...
Unpacking ssl-cert (1.0.39) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../6-postgresql-common_190ubuntu0.1_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (190ubuntu0.1) ...
Selecting previously unselected package postgresql-10.
Preparing to unpack .../7-postgresql-10_10.22-0ubuntu0.18.04.1_amd64.deb ...
Unpacking postgresql-10 (10.22-0ubuntu0.18.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../8-postgresql_10+190ubuntu0.1_all.deb ...
Unpacking postgresql (10+190ubuntu0.1) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../9-sysstat_11.6.1-1ubuntu0.2_amd64.deb ...
Unpacking sysstat (11.6.1-1ubuntu0.2) ...
Setting up sysstat (11.6.1-1ubuntu0.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up ssl-cert (1.0.39) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Setting up cron (3.0pl1-128.1ubuntu1.2) ...
Adding group `crontab' (GID 110) ...
Done.
Created symlink /etc/systemd/system/multi-user.target.wants/cron.service → /lib/systemd/system/cron.service.
update-rc.d: warning: start and stop actions are no longer supported; falling back to defaults
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up logrotate (3.11.0-0.1ubuntu1) ...
Setting up netbase (5.4) ...
Setting up postgresql-client-common (190ubuntu0.1) ...
Setting up postgresql-common (190ubuntu0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-client-10 (10.22-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/share/postgresql/10/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-10 (10.22-0ubuntu0.18.04.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 10/main ...
/usr/lib/postgresql/10/bin/initdb -D /var/lib/postgresql/10/main --auth-local peer --auth-host md5
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/10/main ... ok
creating subdirectories ... ok
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default timezone ... Etc/UTC
selecting dynamic shared memory implementation ... posix
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok

Success. You can now start the database server using:

    /usr/lib/postgresql/10/bin/pg_ctl -D /var/lib/postgresql/10/main -l logfile start

Ver Cluster Port Status Owner    Data directory              Log file
10  main    5432 down   postgres /var/lib/postgresql/10/main /var/log/postgresql/postgresql-10-main.log
update-alternatives: using /usr/share/postgresql/10/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql (10+190ubuntu0.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for systemd (237-3ubuntu10.56) ...
     |████████████████████████████████| 165 kB 8.2 MB/s
     |████████████████████████████████| 74 kB 2.2 MB/s
 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE
NOTICE:  database "my_data" does not exist, skipping
DROP DATABASE
CREATE DATABASE
env: DB_NAME=my_data
env: DB_HOST=localhost
env: DB_PORT=5432
env: DB_USER=postgres
env: DB_PASS=postgres

'Connected: postgres@my_data'

#Part 1: Scenario Analysis and Business Rule Formulation
For the project, you’ll be creating a mock database for “Monster University,” a school that takes young monsters (dragons, werewolves, cute “ET” style aliens, vampires, ogres, talking apes, robot assassins, and basically anything else you want) and teaches them to be upstanding members of the monster community. The professors are ALSO monsters. Here are the business rules you’ll need to get started:

1.	Your main goal is to represent the Monsters, Classes, and Locations (buildings/rooms) at the school.
2.	Monsters can either teach classes, take classes, or both.
3.	For all Monsters we need to keep track of their 

  a.	name

  b.	species (what kind of monster are they?)

  c.	date of birth

  d.	their diet, if known (herbivore, carnivore, omnivore, “brains”, “electricity”, etc.)

  e. their GPA (between 0 and 4.0)

  f. the number of credits completed.

4.	For classes, we’d like to track the following:

  a.	The title of the class

  b.	The location in which the class is held

  c.	The duration of the class in minutes (between 30 and 180)

  d.  The days on which the class meets (for example "MWF" or "TH").

  e.  The start time of the class 
  
  f.  The instructor of the class (who is a Monster)

  
5. For locations we want to record:

  a. A two-character building code (e.g., "MH" for Memorial Hall).

  b. The room number between 1 and 2000.

  c. The max capacity between 10 and 300.

6. Some Monsters are Alumni, who have graduated from the school. For alumni we also want to record:

  a. the year they graduated, and
  
  b. their degree (computer science, business, English, etc.).

7.	Formulate THREE additional business rules of your choice. Remember, you’ll eventually need to implement these! At least ONE of these rules should involve a new entity, relationship, and/or constraint (as opposed to simply a new attribute).

##Your New Business Rules Here:
1. Many classes belong to one semester each year.

2. Students may enroll up to five classes during a semester.

3. Instructors may teach up to 1 class during a semester.

#Part 2: Conceptual Modeling using Entity-Relationship Diagramming
In this step, I'd like to create an ERD for the business rules above using [Diagrams.net](https://diagrams.net). You should include all entities, attributes, relationships, and cardinalilities. After you have completed this diagram, you should do the following:

1. Export it as "SVG" file in diagrams.net, and save this to your computer.
2. Edit this cell, and select the "Insert Image" button.
3. Select the SVG file you download.
4. NOTE: SVG files will work much better than larger image files (which may cause problems if you try to insert them).



![Final_SQL.drawio.svg]()

#Part 3: Logical Modeling
In this part, I'd like you to map the E-R model you've created to a relational model. This involves creating a relational scheme like the following:


```
table_name_1(attribute1 (PK), attribute2, attribute3)
table_name_2(attribute1 (PK), attribute2, attribute3)

```
You should indicate any **primary keys** by using (PK) and any foreign keys with (FK). For primary keys, you'll need to think about whether you can/should use attributes included in the ER diagram, or whether you might want to to create new attributes to serve as keys.

I recommend creating entities in this order:
1. One table for each "strong" entity in the E-R diagram. Decide on a primary key.
2. Tables for subtypes, if needed.
3. One table for each "weak" entity (besides subtypes) in the E-R diagram. Decide on appropriate primary and foreign keys.
4. Tables needed to model M:N relationships present in the E-R diagram.

**PUT YOUR ANSWER BELOW.**

Monsters(monster_id (PK), name, dob, species, diet, gpa, credits, teacher)

Classes(class_id (PK), title_id, location_ID (FK), duration, days, start_time, class_meet, instructor_id(FK))

Location(location_id (PK), building_code, capacity, room_num)

Monster2Classes(monster_id (PK), class_id(,PK,FK))

Alumni(monster_id (PK, FK), degree, year_graduated)

#Part 4: Normalization
Are your relations normalized? Please provide a 2-3 sentence explanation of why/how they meet the following normal forms. Or, if they don't, describe what needs to be done to change them.

1. **First Normal Form.** 

All the tables didn't have a  field that would uniquely identify the rows. Each table needs an id as a new primary key inorder to put the data in first normal form. 

2. **Second Normal Form.**

This is already fulfils the requirements of the first normal form for the tables. Each of the nonkey attributes are functionally dependent on the primary keys.
3. **Third Normal Form.** 

All the tables fulfil the requirements of the second normal form. Every attribute that is not the primary key is depended on the primary key and the primary key only.

**Revised relational scheme (if needed):**
(Your answer here).

#Part 5: Creating Tables
In this part, you'll be creating the tables to store the data about your monstrous students. This involves "mapping" the relational schema to an actual Postgres Databases. Here's what you need to do:

1. CREATE a SQL table for each of the relations you identied in part 4.
2. Make sure all the attribututes are assigned appropriate data types. For example, INTEGER, VARCHAR, or DATE.
3.  Assign appropriate primary keys and foreign keys.

In the starter code below, I've assumed you'll have tables along the line of the following. However, you should feel free to rename, add, or delete tables as needed!

a. Monsters

b. Classes

c. Locations

d. Monsters2Classes

e. Alumni

In [2]:
%%sql
--Here's the start of one create table statement
--You'll need to create each table individually
--You also need some contraints here!
DROP TABLE IF EXISTS Monsters CASCADE;

CREATE TABLE Monsters(
  id      INTEGER PRIMARY KEY,
  name    VARCHAR(26) NOT NULL,
  dob     DATE NOT NULL CHECK (dob > '1000/1/1' AND dob < NOW()),
  species VARCHAR(10),
  diet    VARCHAR(15),
  gpa     NUMERIC(3,1) NOT NULL CHECK (gpa > -1 AND gpa < 5.0),
  credits INTEGER NOT NULL,
  teacher BOOLEAN DEFAULT FALSE
);

 * postgresql://postgres:***@localhost/my_data
Done.
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS Classes CASCADE;

CREATE TABLE Classes(
  class_id INTEGER PRIMARY KEY,
  title VARCHAR(20),
  location_id INTEGER,
  duration INTEGER CHECK (duration > 20 AND duration < 180),
  days VARCHAR(5),
  start_time TIME,
  teacher_id INTEGER,
  FOREIGN KEY (location_id) REFERENCES Locations(location_id),
  FOREIGN KEY (teacher_id) REFERENCES Monsters(id)
);

 * postgresql://postgres:***@localhost/my_data
Done.
Done.

[]

In [4]:
%%sql
DROP TABLE IF EXISTS Locations CASCADE;

CREATE TABLE Locations(
  location_id INTEGER PRIMARY KEY,
  building_code CHAR(6),
  room_num INTEGER NOT NULL CHECK (room_num > 1 AND room_num < 2000),
  capacity INTEGER NOT NULL CHECK (capacity > 10 AND capacity < 300)
);

 * postgresql://postgres:***@localhost/my_data
Done.
Done.

[]

In [6]:
%%sql 
--Monster2Classes renamed to M2C
DROP TABLE IF EXISTS M2C CASCADE;

CREATE TABLE M2C(
    monster_id INTEGER,
    class_id INTEGER, 
  FOREIGN KEY (monster_id) REFERENCES monsters(id),
  FOREIGN KEY (class_id) REFERENCES classes(class_id),
  PRIMARY KEY (monster_id, class_id)
);

 * postgresql://postgres:***@localhost/my_data
Done.
Done.

[]

In [7]:
%%sql 
DROP TABLE IF EXISTS Alumni CASCADE;

CREATE TABLE Alumni(
  monster_id INTEGER PRIMARY KEY,
  year_graduated INTEGER,
  degree VARCHAR(15),
  FOREIGN KEY (monster_id) REFERENCES monsters(id)
);

 * postgresql://postgres:***@localhost/my_data
Done.
Done.

[]

#Part 6: Retrieving, Updating, and Deleting Data
In this part, you'll be inserting some data about Monsters, Classes, and Locations.

##6b. Inserting Data
Here are five monsters to insert your database:

1. Cookie Monster (unknown species) was born on Nov 10, 1969. His eats only cookies. He has 3.2 GPA and has completed 76 credits.
2. Marceline (vampire) was born in Feb 3, 1056. She eats "the color red". She is a teacher with a 0.0 GPA and 0 credits completed.
3. Chewbacca (wookie) was born on May 25, 1977. He is an omnivore. He has a 2.6 GPA and has completed 24 credits.
4. Dracula (vampire) was born on Aug 15, 1543. He drinks blood. He has a 4.0 GPA with 112 credits completed. He also teachers classes.
5. Maleficient (dragon) was born on Oct 26, 1856. She is a carnviore. She has a 3.8 GPA with 63 credits completed.
6. Insert at least FOUR more monsters of your choice. At least two of these should have the same species.

Now, show the data in the table.

Here are three locations to insert into your database:
1. CL 101 ("Castle level 1, room 1") holds 100 people.
2. CL 503 ("Castle level 5, room 3") holds 34 people.
3. MU 220 ("Monster Union room 220") holds 12 people.
4. Insert at least TWO more locations into your database. Both should be in the same building. 

Now, show the data in the table.


Here are two classes to insert into your database:
1. Marceline teaches Intro to Guitar on TH from 2 PM to 4 PM in MU 220.
2. Dracula teaches Monster First Aid on MWF from 9 PM to 10 PM in CL 503.
2. Insert at least ONE more class.

Now, show the data in the table.


"ENROLL" some students in your classes.
1. Cookie Monster, Chewbacca, and Maleficient (and perhaps some of the students you added) will take Monster First Aid.
2. Chewbacca and Malificient (and perhaps some of the students you added) will take Intro to Guitar.
3. Enroll some students in your own class!
Now, show the data in the table.


Finally, insert data for at least ONE alumni, and show the results.

In [ ]:
%%sql 
-- If you make mistakes, you might need to delete existing data from your tables. 
-- One way you might do this is as follows
-- You might need to include different table names!

DELETE FROM Monsters CASCADE;
DELETE FROM Locations CASCADE;
DELETE FROM Classes CASCADE;
DELETE FROM Alumni CASCADE;
DELETE FROM Monsters2Classes CASCADE;

In [8]:
%%sql
DELETE FROM Monsters CASCADE;

INSERT INTO Monsters(id, name, dob, species, diet, gpa, credits, teacher) VALUES (1, 'Cookie Monster', '11/10/1969', NULL, 'cookies', '3.2', '76', FALSE);
INSERT INTO Monsters(id, name, dob, species, diet, gpa, credits, teacher) VALUES (2, 'Marceline', '2/3/1056', 'vampire', 'color red', '0.0', '0', TRUE);
INSERT INTO Monsters(id, name, dob, species, diet, gpa, credits, teacher) VALUES (3, 'Chewbacca', '5/25/1977', 'wookie', 'omnivore', '2.6', '24', FALSE);
INSERT INTO Monsters(id, name, dob, species, diet, gpa, credits, teacher) VALUES (4, 'Dracula', '8/15/1543', 'vampire', 'blood', '4.0', '112', TRUE);
INSERT INTO Monsters(id, name, dob, species, diet, gpa, credits, teacher) VALUES (5, 'Maleficent', '10/26/1856', 'dragon', 'carnivore', '3.8', '63', FALSE);

--four more monsters
INSERT INTO Monsters(id, name, dob, species, diet, gpa, credits, teacher) VALUES (6, 'BMO', '7/25/1977', 'robot', 'battries', '1.6', '4', FALSE); --student
INSERT INTO Monsters(id, name, dob, species, diet, gpa, credits, teacher) VALUES (7, 'Frankenstein', '4/5/1867', 'zombie', 'vegetarian ', '3.6', '32', FALSE); --student
INSERT INTO Monsters(id, name, dob, species, diet, gpa, credits, teacher) VALUES (8, 'Shrek', '12/2/1963', 'ogre', 'onions', '1.3', '52', FALSE); --alumni
INSERT INTO Monsters(id, name, dob, species, diet, gpa, credits, teacher) VALUES (9, 'Optimus', '3/20/1020', 'robot', 'gasoline', '3.9', '109', TRUE); --teacher

SELECT * FROM Monsters;

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
9 rows affected.

[(1, 'Cookie Monster', datetime.date(1969, 11, 10), None, 'cookies', Decimal('3.2'), 76, False),
 (2, 'Marceline', datetime.date(1056, 2, 3), 'vampire', 'color red', Decimal('0.0'), 0, True),
 (3, 'Chewbacca', datetime.date(1977, 5, 25), 'wookie', 'omnivore', Decimal('2.6'), 24, False),
 (4, 'Dracula', datetime.date(1543, 8, 15), 'vampire', 'blood', Decimal('4.0'), 112, True),
 (5, 'Maleficent', datetime.date(1856, 10, 26), 'dragon', 'carnivore', Decimal('3.8'), 63, False),
 (6, 'BMO', datetime.date(1977, 7, 25), 'robot', 'battries', Decimal('1.6'), 4, False),
 (7, 'Frankenstein', datetime.date(1867, 4, 5), 'zombie', 'vegetarian ', Decimal('3.6'), 32, False),
 (8, 'Shrek', datetime.date(1963, 12, 2), 'ogre', 'onions', Decimal('1.3'), 52, False),
 (9, 'Optimus', datetime.date(1020, 3, 20), 'robot', 'gasoline', Decimal('3.9'), 109, True)]

In [9]:
%%sql
--Insert the data on locations, and show the results
DELETE FROM locations CASCADE;

INSERT INTO locations(location_id, building_code, room_num, capacity) VALUES (1, 'CL', 101, 100);
INSERT INTO locations(location_id, building_code, room_num, capacity) VALUES (2, 'MU', 220, 12);
INSERT INTO locations(location_id, building_code, room_num, capacity) VALUES (3, 'CL', 503, 34);
INSERT INTO locations(location_id, building_code, room_num, capacity) VALUES (4, 'MU', 216, 68);
INSERT INTO locations(location_id, building_code, room_num, capacity) VALUES (5, 'MU', 205, 200);


SELECT * FROM locations;

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
5 rows affected.

[(1, 'CL    ', 101, 100),
 (2, 'MU    ', 220, 12),
 (3, 'CL    ', 503, 34),
 (4, 'MU    ', 216, 68),
 (5, 'MU    ', 205, 200)]

In [10]:
%%sql
--Insert the data on classes, and show the results
DELETE FROM Classes CASCADE;

INSERT INTO Classes(class_id, title, location_id, duration, days, start_time, teacher_id) VALUES (1, 'Intro to Guitar', 2, 120 ,'TH', '14:00:00', 2);
INSERT INTO Classes(class_id, title, location_id, duration, days, start_time, teacher_id) VALUES (2, 'Monster First Aid', 3, 60 ,'MWF','21:00:00', 4);
INSERT INTO Classes(class_id, title, location_id, duration, days, start_time, teacher_id) VALUES (3, 'Dead Languages', 4, 120 ,'MW', '15:00:00', 9);

SELECT * FROM Classes;

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
3 rows affected.

[(1, 'Intro to Guitar', 2, 120, 'TH', datetime.time(14, 0), 2),
 (2, 'Monster First Aid', 3, 60, 'MWF', datetime.time(21, 0), 4),
 (3, 'Dead Languages', 4, 120, 'MW', datetime.time(15, 0), 9)]

In [11]:
%%sql
--Insert the alumni data, and show the results
-- INSERT INTO student VALUES (8, 8) shrek
DELETE FROM Alumni CASCADE;

INSERT INTO Alumni(monster_id, year_graduated, degree) VALUES (8, 1988, 'Business');

SELECT * FROM Alumni;

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
1 rows affected.
1 rows affected.

[(8, 1988, 'Business')]

In [13]:
%%sql
--Insert the enrollment data, and show the results
DELETE FROM M2C CASCADE;

INSERT INTO M2C(class_id, monster_id) VALUES (1,3); -- intro to guiter by marceline
INSERT INTO M2C(class_id, monster_id) VALUES (1,5);
INSERT INTO M2C(class_id, monster_id) VALUES (1,6);
INSERT INTO M2C(class_id, monster_id) VALUES (1,7);

INSERT INTO M2C(class_id, monster_id) VALUES (2,1); --Monster First Aid - dracula
INSERT INTO M2C(class_id, monster_id) VALUES (2,3);
INSERT INTO M2C(class_id, monster_id) VALUES (2,5);
INSERT INTO M2C(class_id, monster_id) VALUES (2,6);

INSERT INTO M2C(class_id, monster_id) VALUES (3,7);
INSERT INTO M2C(class_id, monster_id) VALUES (3,1);
INSERT INTO M2C(class_id, monster_id) VALUES (3,6); --dead languages - optimus



SELECT * FROM M2C;

 * postgresql://postgres:***@localhost/my_data
8 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
11 rows affected.

[(3, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (1, 2),
 (3, 2),
 (5, 2),
 (6, 2),
 (7, 3),
 (1, 3),
 (6, 3)]

#6c: Updating Data
In this section, I'd like you to run the following updates

1. MU 220 has been expanded! It can now hold 25 students, instead of 12.
2. Another semester has passed. Add 12 credits to each student's record.
3. [Another update of your choice--describe here.]

After each update please SELECT from the table to show the results.

In [14]:
%%sql
--Update MU 220 and show results
UPDATE locations
 SET capacity =  '25'
 WHERE location_id = 2 ;

 SELECT * FROM Locations
 ORDER BY location_id;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
5 rows affected.

[(1, 'CL    ', 101, 100),
 (2, 'MU    ', 220, 25),
 (3, 'CL    ', 503, 34),
 (4, 'MU    ', 216, 68),
 (5, 'MU    ', 205, 200)]

In [15]:
%%sql 
--Update student credits and show results
UPDATE Monsters
 SET credits = credits + 12
 WHERE teacher = false;

SELECT * FROM Monsters
ORDER BY ID;

 * postgresql://postgres:***@localhost/my_data
6 rows affected.
9 rows affected.

[(1, 'Cookie Monster', datetime.date(1969, 11, 10), None, 'cookies', Decimal('3.2'), 88, False),
 (2, 'Marceline', datetime.date(1056, 2, 3), 'vampire', 'color red', Decimal('0.0'), 0, True),
 (3, 'Chewbacca', datetime.date(1977, 5, 25), 'wookie', 'omnivore', Decimal('2.6'), 36, False),
 (4, 'Dracula', datetime.date(1543, 8, 15), 'vampire', 'blood', Decimal('4.0'), 112, True),
 (5, 'Maleficent', datetime.date(1856, 10, 26), 'dragon', 'carnivore', Decimal('3.8'), 75, False),
 (6, 'BMO', datetime.date(1977, 7, 25), 'robot', 'battries', Decimal('1.6'), 16, False),
 (7, 'Frankenstein', datetime.date(1867, 4, 5), 'zombie', 'vegetarian ', Decimal('3.6'), 44, False),
 (8, 'Shrek', datetime.date(1963, 12, 2), 'ogre', 'onions', Decimal('1.3'), 64, False),
 (9, 'Optimus', datetime.date(1020, 3, 20), 'robot', 'gasoline', Decimal('3.9'), 109, True)]

In [16]:
%%sql 
--An update of your choice and show the results
UPDATE locations
 SET capacity = capacity - 100
 WHERE location_id = 5;

 SELECT * FROM Locations
 ORDER BY location_id;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
5 rows affected.

[(1, 'CL    ', 101, 100),
 (2, 'MU    ', 220, 25),
 (3, 'CL    ', 503, 34),
 (4, 'MU    ', 216, 68),
 (5, 'MU    ', 205, 100)]

#Part 7: SQL Queries
In this section, you'll be demonstrating your ability to retrieve data from the database you've created using SQL queries.

##7a: Simple Single table queries
Retreive a list of monsters ordered alphabetically by name. Limit your results to 5.

In [20]:
%%sql
-- 7a
SELECT name FROM Monsters
  ORDER BY name LIMIT 5;

 * postgresql://postgres:***@localhost/my_data
5 rows affected.

[('BMO',),
 ('Chewbacca',),
 ('Cookie Monster',),
 ('Dracula',),
 ('Frankenstein',)]

##7b. Single-table queries with WHERE and LIKE
Retrieve JUST the classes that meet on Wednesday (where Wednesday is the 'W' in strings like 'MWF').

In [21]:
%%sql
-- 7b
SELECT * from classes
Where days LIKE '%W%';

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[(2, 'Monster First Aid', 3, 60, 'MWF', datetime.time(21, 0), 4),
 (3, 'Dead Languages', 4, 120, 'MW', datetime.time(15, 0), 9)]

##7c. Single-table queries with aggregate functions
Retrieve the minimum, maximum, and average GPA included in your database. You should label the columns "Min GPA", "Max GPA", and "Avg GPA".

In [317]:
%%sql 
--7c
SELECT MIN(gpa), MAX(gpa), AVG(gpa) FROM monsters;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.

[(Decimal('0.0'), Decimal('4.0'), Decimal('2.6666666666666667'))]

##7d. Single table queries with GROUP BY
Retrieve a list of each monster species included in the database, along with a count of how many monsters are members of the species.

In [19]:
%%sql
--7d
SELECT species, COUNT(*) FROM monsters
  GROUP BY species;

 * postgresql://postgres:***@localhost/my_data
7 rows affected.

[('dragon', 1),
 (None, 1),
 ('ogre', 1),
 ('wookie', 1),
 ('zombie', 1),
 ('vampire', 2),
 ('robot', 2)]

##7e. Single-table queries with HAVING
Retrieve a list of the buildings (not rooms!) in your data that have a total capacity of more than 20. (A building's capacity is simply the sum of the capacities of all the classrooms it contains).

In [303]:
%%sql
--7e
SELECT building_code as buildings FROM locations 
GROUP BY locations.capacity, locations.building_code
HAVING capacity > 20;

 * postgresql://postgres:***@localhost/my_data
5 rows affected.

[('MU    ',), ('CL    ',), ('CL    ',), ('MU    ',), ('MU    ',)]

##7f. Subqueries
Retrieve a list of monsters names and species, together with a count of how many members of that species are in the database.

In [17]:
%%sql
-- 7f
SELECT  MAX(name) as "Name", MIN(name) as "Name", species, COUNT(*) as "Total Number of Species"
 FROM monsters
  GROUP BY species;

 * postgresql://postgres:***@localhost/my_data
7 rows affected.

[('Maleficent', 'Maleficent', 'dragon', 1),
 ('Cookie Monster', 'Cookie Monster', None, 1),
 ('Shrek', 'Shrek', 'ogre', 1),
 ('Chewbacca', 'Chewbacca', 'wookie', 1),
 ('Frankenstein', 'Frankenstein', 'zombie', 1),
 ('Marceline', 'Dracula', 'vampire', 2),
 ('Optimus', 'BMO', 'robot', 2)]

#7g. Simple multi-table queries with JOIN
Retrieve the names and GPAs of students enrolled in Intro to Guitar.

In [46]:
%%sql
-- 7g
SELECT Monsters.name, Monsters.gpa FROM Monsters 
 JOIN m2c ON Monsters.id = m2c.monster_id 
Where class_id = '1';

 * postgresql://postgres:***@localhost/my_data
4 rows affected.

[('Chewbacca', Decimal('2.6')),
 ('Maleficent', Decimal('3.8')),
 ('BMO', Decimal('1.6')),
 ('Frankenstein', Decimal('3.6'))]

##7h. More complex multi-table queries
Retrieve the total students taught by each teacher in the database. You should have one row of output for each teacher with their name and the total number of students.

In [316]:
%%sql 
-- 7h
SELECT monsters.name, COUNT(M2C.monster_id) FROM Monsters 
 JOIN classes ON Monsters.id = classes.teacher_id 
 JOIN m2c on Classes.class_id = m2c.class_id
 WHERE teacher = true
 GROUP BY monsters.name;

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[('Optimus', 3), ('Marceline', 4), ('Dracula', 4)]

##7i. Creation of Views
Create a VIEW based on a SQL query of your choice. Now "SELECT *" from this view to show the results.

In [138]:
%%sql
-- 7i
DROP VIEW IF EXISTS alumni;
CREATE VIEW alumni_info AS
SELECT monster_id, year_graduated, degree
FROM alumni
WHERE year_graduated > "1900";

 * postgresql://postgres:***@localhost/my_data
(psycopg2.errors.WrongObjectType) "alumni" is not a view
HINT:  Use DROP TABLE to remove a table.

[SQL: -- 7i
DROP VIEW IF EXISTS alumni;]
(Background on this error at: https://sqlalche.me/e/14/f405)

##7g. Creation of Indexes.
Create an index on the column that contains the Monster's names.

In [139]:
%%sql
-- 7f
CREATE INDEX name_dex ON monsters(name);
EXPLAIN ANALYZE SELECT * FROM monsters WHERE name = 'Cookie Monster';

 * postgresql://postgres:***@localhost/my_data
Done.
5 rows affected.

[('Seq Scan on monsters  (cost=0.00..1.11 rows=1 width=181) (actual time=0.012..0.013 rows=1 loops=1)',),
 ("  Filter: ((name)::text = 'Cookie Monster'::text)",),
 ('  Rows Removed by Filter: 8',),
 ('Planning time: 0.586 ms',),
 ('Execution time: 0.035 ms',)]

#8. Database Design Philosophy
In 150 to 200 words, answer the question **"What are the keys to designing a successful database, and how is this reflected in your own work here?"**

A good and properly designed database will lead to the successful functioning of the database system. A database is designed properly and should avoid duplication of data. The information stored in the database must be correct and complete. A good database design should be able to do the following: Divide the information into tables so that duplication of data can be avoided. It should be able to retrieve information from multiple tables by joining the tables. It should ensure the integrity of the data. Security must be provided. The best way to start designing the database is to plan the database. Without proper planning, the database is meaningless. It is necessary to identify the purpose of the database. The need for the database is to be determined. The people for whom the database is planned to be designed are to be identified. The strength and weaknesses of designing the database must be analyzed.

#9. Be Creative!
In 150 to 200 words, tell me about what you've done (or will do, in this section) that goes above and beyond the "requirements" of the assignment. Why did you choose to do this? What did you learn from doing it?

At first, it was a little overwhelming to create a properly functioning database system from sctrach, but dividing the information into subject-based tables helped make the data make sense. By gathering all of the types of information I knew I wanted to record in the database, such as class, monsters, etc. By dividing that information and more into major entities or subjects. Each subject then becomes a table and turns the information items into columns. Then deciding what information I wanted to store in each table. Each item becomes a field, and is displayed as a column in the table. For example, the Monsters table might include fields such as First Name, credits and more. Choose each table’s primary key. The primary key is a column that is used to uniquely identify each row. An example might be Monsters_ID or class_ID. Look at each table and decide how the data in one table is related to the data in other tables. Add fields to tables or create new tables to clarify the relationships, as necessary. I then analyze my design for errors and create the tables and add a few records of sample data. I saw I could get the results I wanted from the tables. Make adjustments to the design, as needed. By apply thses steps, I had created a properly designed database provides me with access to up-to-date, accurate information.


(Feel free to add code cells below if needed.)

In [ ]:
%%sql
-- Include code, if needed.

#10. Share Work With Me on Github
Finally, I'd like you to share your work with me on Github. If you are interesting in working in computer science or IT, it's good to have a basic understanding of how Github works, as its something like an industry "standard" way of sharing code. 
 
Here's what you need to do:
1. Create an account on https://github.com/ 
2. Create a PUBLIC repository called "database_sql".
3. Save your **completed** lab to this repository. From colab, all you need to do is go to "File: Save a copy in Github."

An in-depth tutorial on using Github is here:
https://docs.github.com/en/get-started/quickstart/hello-world 
The only things you need to worry about are (a) creating an account and (b) creating a repository. We won't be worry about branches, commits, or pulls (though you are free to read up on these!). 

Once you've done this, please write down your:

USERNAME: SaabiriinAbdi

REPOSITORY LINK: https://github.com/SaabiriinAbdi/database_sql

And that's it! I've enjoyed having you in class--enjoy the rest of the semster :).

**You should also submit this to the D2L Assignment folder.**